<ActionBar [title]="title"></ActionBar>
<StackLayout *ngIf="!finished; else game">
  <Image src="https://images.emojiterra.com/mozilla/512px/1f389.png"></Image>
</StackLayout>

<ng-template #game>
  <StackLayout class="m-15"
    gtmExplode [boom]="gameEnded"
  >

    <Gif [src]="currentMovie.gif" height="200"></Gif>
    <StackLayout class="form m-15">
      <TextField [formControl]="guessControl" hint="Movie title" text=""></TextField>
    </StackLayout>


    <StackLayout *ngIf="currentMovieGuessed">
      <Label class="text-center" text="Yay! Correct!"></Label>
      <Label class="text-center text-primary font-weight-bold" [text]="currentMovie.title"></Label>
      <Button (tap)="loadNextMovie()" class="btn-outline btn-rounded m-15" text="Next"></Button>
    </StackLayout>
  </StackLayout>

</ng-template>