<div *ngIf="finished; else game">
  <div>
    <h1 class="mat-display-1">You guessed all the movies! Bravo!</h1>
    <img src="https://images.emojiterra.com/mozilla/512px/1f389.png" alt="">
  </div>
</div>

<ng-template #game>
  <h1 class="mat-display-2">{{ title }}</h1>

  <img [src]="currentMovie.gif" alt="" height="300">
  <form class="center-form">
    <mat-form-field class="input-full-width">
      <input [formControl]="guessControl" autofocus matInput placeholder="Movie title">
    </mat-form-field>
  </form>
  <gtm-guess
    [movie]="currentMovie"
    [enabled]="!currentMovieGuessed"
    (valueChanged)="checkIfGuessed($event)"
  ></gtm-guess>

<div *ngIf="currentMovieGuessed">
  <h3 class="accent">Great job! The movie is <b>{{ currentMovie.title }}</b>.</h3>
  <button mat-raised-button (click)="loadNextMovie()" color="accent">Next</button>
</div>
</ng-template>

